@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@keyframes marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

.marquee {
  width: max-content;
  animation: marquee 20s linear infinite;
}

.marquee:hover {
  animation-play-state: paused;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Space Grotesk", sans-serif;
}

* {
  box-sizing: border-box;
}

#root {
  min-height: 100vh;
}